@import 'abstracts';
@import 'copy';

@tailwind base;
@tailwind utilities;
@tailwind components;

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}

body {
	font-size: 1.125rem;
}

html, body, #root {
	height: 100%;
	width: 100%;
}

.screen-reader-text {
	border: 0 !important;
	clip: rect(0, 0, 0, 0) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	white-space: nowrap !important;
	width: 1px !important;
	color: $contrast;
}
