@tailwind base;
@tailwind utilities;
@tailwind components;

h1,
h1 > a {
  font-size: 2em;
}

h2,
h2 > a {
  font-size: 1.74em;
}

h3,
h3 > a {
  font-size: 1.52em;
}

h4,
h4 > a {
  font-size: 1.32em;
}

h5,
h5 > a {
  font-size: 1.15em;
}

h6,
h6 > a {
  font-size: 1em;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-size: 1.125rem;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.screen-reader-text {
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  white-space: nowrap !important;
  width: 1px !important;
  color: #1f2933;
}
