$primary: #9E2A2B;
$dark-primary: #540B0E;
$secondary: #E09F3E;
$dark-secondary: #9E691A;
$accent: #335C67;
$dark-blue: #1F2933;
$tertiary: #FFF3B0;
$beige: #E09F3E;
$contrast: #230C0F;
$white: #FFFFFF;
$transparent: rgba(0, 0, 0, 0);
