$error: #9E2A2B;
$dark-error: #540B0E;
$primary:#335C67;
$dark-primary:#284952;
$secondary: #E09F3E;
$dark-secondary: #9E691A;
$accent: #D6A2AD;
$dark-blue: #1F2933;
$tertiary: #FFF3B0;
$beige: #E09F3E;
$contrast: #1F2933;
$white: #FFFFFF;
$transparent: rgba(0, 0, 0, 0);
